body {
    font-family: sans-serif;
    text-align: center;
    background: aliceblue;
}

.right {
    float: right;
}

li {
    text-align: left;
}

div#board {
    margin: auto;
    border: 4px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: content-box;
    display: inline-block;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.spot {
    box-sizing: border-box;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    float: left;
    padding: 6px;
    font-size: 24px;
}

.spot:nth-child(3n) {
    border-right: 4px solid black;
}

div.row:nth-child(3n) {
    border-bottom: 4px solid black;
}

.given {
    color: maroon;
}

.active-section {
    background: tomato;
}

.active-number {
    background: cyan;
}

.option {
    background: mediumseagreen;
}

.being-compared {
    background: violet;
}

.current-node {
    background: YellowGreen;
}

.square {
    color: mediumblue;
}

.column {
    color: navy;
}

.square.excluded {
    color: peru;
}

.row.excluded {
    color: saddlebrown;
}

.column.excluded {
    color: sienna;
}

.placed {
    color: springgreen;
}

.not-placed {
    color: olive;
}